
<h3>Yeni Ürün Ekle - Reactive</h3>

<form [formGroup]="productAddForm" (ngSubmit)="add()">
  <div class="form-group">
    <input type="text" id="name" name="name" formControlName="name" placeholder="Ürün Adı" class="form-control">
    <div class="alert alert-danger" *ngIf="productAddForm.get('name').hasError('required') && productAddForm.get('name').dirty">Ürün adı zorunludur</div>
  </div>

  <div class="form-group">
      <input type="text" id="description" name="description" formControlName="description" placeholder="Ürün Açıklaması" class="form-control">
      <div class="alert alert-danger" *ngIf="productAddForm.get('description').hasError('required') && productAddForm.get('description').dirty">Ürün Açıklaması zorunludur</div>
    </div>

    <div class="form-group">
        <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" placeholder="Fotoğraf Yolu" class="form-control">
        <div class="alert alert-danger" *ngIf="productAddForm.get('imageUrl').hasError('required') && productAddForm.get('imageUrl').dirty">Ürün Fotoğrafı zorunludur</div>
      </div>

      <div class="form-group">
          <input type="text" id="price" name="price" formControlName="price" placeholder="Ürün Fiyatı" class="form-control">
          <div class="alert alert-danger" *ngIf="productAddForm.get('price').hasError('required') && productAddForm.get('price').dirty">Ürün fiyatı zorunludur</div>
        </div>

        <div class="form-group">
            <select class="form-control"
            formControlName="categoryId"
            required
            id="categoryId"
            name="categoryId">
              <option
                *ngFor="let category of categories" [value]="category.id"

              >
              {{category.name}}
              </option>
            </select>
            <div *ngIf="productAddForm.get('categoryId').hasError('required') && productAddForm.get('categoryId').touched" class="alert alert-danger">
                Kategori Gereklidir
              </div>
          </div>
          <button type="subit" class="btn btn-dark" [disabled]="productAddForm.invalid">Ürün Ekle</button>
</form>
